<% layout('./layouts/boilerplate') %>

<h1>Sign Up Page</h1>
<form action="/guest/register" method="post">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" />
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" />
  </div>
  <button>Register</button>
</form>
<a href="/guest/login">Login</a>
<a href="/">Home</a>
