<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paswword Manager</title>
  </head>
  <body>
    <h1>Welcome to Password Manager</h1>
    <p>We keep your passwords protected</p>
    <a href="/guest/login">Login</a><br />
    <a href="/guest/register">Register</a>
  </body>
</html>
