<% layout('./layouts/boilerplate') %>

<div>
  <h1>Add a password</h1>
  <form action="/user/addpassword" method="post" class="p-5">
    <div class="form-group">
      <label for="socialName">Social Name</label>
      <input
        type="text"
        class="form-control"
        id="socialName"
        name="socialName"
      />
    </div>
    <div class="form-group">
      <label for="socialName">Social Password</label>
      <input
        type="password"
        class="form-control"
        id="socialName"
        name="socialPassword"
      />
    </div>
    <button class="btn btn-primary mt-2 w-100">Submit</button>
  </form>
  <a href="/user">Home</a>
</div>
