<% layout('./layouts/boilerplate') %>

<h1>Welcome <%= details.name %></h1>
<a href="/user/addpassword">Add new password</a>
<a href="/user/viewpasswords">View my passwords</a>
<form action="/user/logout" method="post">
  <button>Sign Out</button>
</form>
