<% layout('./layouts/boilerplate') %>

<h1>My Passwords</h1>

<% if(userPasswords.length === 0){ %>
<p>No Passwords added</p>
<% }else { for(let user of userPasswords){ %>
<div style="display: flex; gap: 10px">
  <p><%= user.socialName %></p>
  <% if(!user.socialPassword) {%>
  <p style="color: red">Password has been tampered</p>
  <% } else { %>
  <p><%= user.socialPassword %></p>
  <% } %>
</div>
<% }} %>

<a href="/user">Home</a>
